*, :before, :after {
    box-sizing: border-box;
}

html, body, #app {
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #cfd2dd;

    overscroll-behavior: none;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2,h3 {
    margin: 0;
    padding: 0;
}

canvas {
    padding: 0;
    margin: 0;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 30px;  
    color: var(--strong);    
    text-shadow: 2px 2px rgba(255,255,255,0.25);
}

p {
    max-width: 700px;
    padding: 0;
    margin: 0;
    margin-top: 12px;

    color: var(--fadedtext);
}

strong {
    color: var(--strong);
}

section {
    margin-top: 12px;
}

input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    outline: none;
}

button {
    border: none;
    color: inherit;
}

select {
    border: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}